#block {
    width: 100%;
    display: flex;
}
#seach {
    width: 100%;
    color: rgb(45, 142, 53);
    padding-left: 10px;
    padding-right: 10px;
}
#button {
    height: 2em;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(45, 142, 53);
}

#seach:hover, #button:hover {
    color: rgb(215, 54, 54);
}