<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Форма регистрации</title>
</head>

<body>
    <form name="regForm" method="post">
        <main>
            <div class="register-form-container">
                <h1 class="form-title">Reminder password</h1>
                <div class="form-fields">
                    <div class="form-field">
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-buttons">
                    <button id="regButton" class="button" type="submit">Send Password</button>
                </div>
            </div>
        </main>
    </form>
    <script>
        let subButton = document.getElementById('regButton');
        subButton.addEventListener('click', function (evt) {
    
            evt.preventDefault();
            
            let regForm = document.forms['regForm'];

            let email = regForm.elements['email'].value;
        
            let user = JSON.stringify({
                email: email,
            });

            let request = new XMLHttpRequest()

            request.open('POST', '/password', true);
            
            request.setRequestHeader( 'Content-Type', 'application/json');
            
            request.addEventListener('load', function () {
                let receivedUser = JSON.parse(request.response);
                console.log(receivedUser.ans);
                if (receivedUser.ans == "OK") {
                    alert("User saved");
                    window.location.href = '/login';
                }
            });
            
            request.send(user);

        });
    </script>
</body>

</html>